@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    transition: all 0.25s linear;
}
html{
    background-color: rgb(24 24 27);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgb(24 24 27);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}