@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: all 0.25s linear;
}

:root {
  --dark-background: #b0b0b0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-property: opacity;
  }
}
html {
  background-color: rgb(24 24 27);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(24 24 27);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.swiper-button-next {
  width: 40px !important;
  height: 80px !important;
  color: white !important;
  background-color: black;
  opacity: 60%;
  border: 2px solid white;
  scale: 0.7;
}
.swiper-button-next:hover,
.swiper-button-next:focus {
  opacity: 100%;
}
.swiper-button-prev {
  width: 40px !important;
  height: 80px !important;
  color: white !important;
  background-color: black;
  border: 2px solid white;
  opacity: 60%;
  scale: 0.7;
}
.swiper-button-prev:hover,
.swiper-button-prev:focus {
  opacity: 100%;
}
@media screen and (min-width: 700px) {
  .swiper-button-prev {
    scale: 0.8;
  }
  .swiper-button-next {
    scale: 0.8;
  }
}
